.cart-container {
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}

.cart-header {
    margin: 0 20px 0 20px;
    border-bottom: 1px solid #2C5638;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    height: 66px;
    display: flex;
    align-items: center;
}

.cart-footer {
    background-color: #FEF0E6;
    width: 100%;
    height: 185px;
    position: sticky;
    top: 100%;
    padding: 20px 20px 25px 20px;
}

.cart-summary {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: repeat(4, auto);
    font-weight: bold;
    gap: 4px
}

.cart-summary-articles-label {
    font-weight: normal;
}

.cart-summary-articles-price {
    justify-self: end;
}

.cart-summary-shipping-label {
    font-weight: normal;
    margin-bottom: 6px;
}

.cart-summary-shipping-price {
    justify-self: end;
    margin-bottom: 6px;
}

.cart-summary-line {
    height: 1px;
    background-color: #2C5638;
    grid-column: 1 / -1;
}

.cart-summary-total-label {
    padding-top: 6px;
    font-weight: bold;
    grid-row: 4/5;
}

.cart-summary-total-price {
    padding-top: 6px;
    padding-left: 100%;
    justify-self: end;
    grid-row: 4/5;
}

.cart-buttons-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 19px;
}

.cartbtn-back, .cartbtn-checkout {
    min-width: 160px;
}

.cartbtn-back {
    margin-right: 15px;
    color: #2C5638;
    border-color: #2C5638;
}

.cartbtn-checkout {
    background-color: #2C5638;
    color: #F7F8F7;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Roboto;
    padding: 0;
}

.cartbtn-checkout:disabled {
    background-color: #c1c1c1;
}

.cart-item {
    border-bottom: 1px solid #2C5638;
    margin: 20px 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}


.cart-item-image {
    height: 80px;
    width: 80px;
    grid-row: 1 / -1;
}

.cart-item-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-counter-container {
    display: flex;
    gap: 16px;
}

.cart-counter-label {
    width: 50px;
    height: 32px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #96A299;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-counter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #2C5638;
    color: #F7F8F7;
    font-size: 1.8em;
    font-weight: normal;
}

.cart-item-price {
    font-weight: bold;
}