.checkout-buttons-container {
    position: fixed;
    width: 100%;
    bottom: 25px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.checkout-btn-cancel, .checkout-btn-continue {
    min-width: 160px;
}

.checkout-btn-cancel {
    margin-right: 15px;
    color: #2C5638;
    border-color: #2C5638;
}

.checkout-btn-continue {
    background-color: #2C5638;
    color: #F7F8F7;
}

.checkout-form-container {
    margin: 70px 20px 0 20px;
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: repeat(9, auto);
    grid-gap: 16px;
}

.checkout-header {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    grid-column: 1/-1;
    margin-top: 20px;
}

.checkout-input {
    height: 40px;
    padding-left: 16px;
    font-size: 16px;
}

.checkout-input::placeholder {
    color: #96A299;
    font-style: italic;
    font-size: 16px;
}

.checkout-shipping-header {
}

.checkout-input-street {
    grid-column: 1/-1;
}

.checkout-input-postal {
}

.checkout-input-number {
}

.checkout-input-city {
    grid-column: 1/-1;
}

.checkout-payment-header {
}

.checkout-input-email {
    grid-column: 1/-1;
}

.checkout-input-name {
    grid-column: 1/-1;
}

.checkout-input-card-number {
    grid-column: 1/-1;
}

.checkout-input-card-date {
}

.checkout-input-card-cvc {
}