.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 2;
}

.nav-lightmode {
    background-color: rgba(31, 61, 40, 0.1);
    filter: brightness(20%);
}

.nav-darkmode {
    background-color: rgba(253, 214, 186, 0.20);
}

.nav-menu {
    margin-right: 16px;
    display: flex;
    gap: 12px
}

.nav-icon {
    height: 44px;
    width: 44px;
    padding: 6px;
    color: #FBAF79;
}

.nav-icon:hover,
.nav-icon:active {
    background-color: rgba(251, 175, 121, 0.2);
    border-radius: 5px;
}

.nav-logo-img {
    margin-left: 16px;
    height: 44px;
}

.nav-logo-text {
    font-size: 20px;
}

