.nav-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(5px);
}

.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 2;
}

.nav-hidden {
    display: none;
}

.nav-menu {
    margin-right: 16px;
    display: flex;
    gap: 12px
}

.nav-icon {
    height: 44px;
    width: 44px;
    padding: 6px;
}

.nav-cart-icon {
    position: relative;
}

.nav-cart-items {
    width: 20px;
    height: 20px;
    font-size: 12px;
    background: #FFF;
    color: #272C28;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-5px, -5px)
}

.hide {
    display: none;
}

.nav-icon-highlight {
    background-color: rgba(251, 175, 121, 0.2);
    border-radius: 5px;
}

.nav-logo-img {
    margin-left: 16px;
    height: 44px;
}

.nav-logo-text {
    font-size: 20px;
}

.nav-lightmode {
    /*background-color: rgba(0, 0, 0, 0.66);*/
    background-color: rgba(31, 61, 40, 0.2);
}

.nav-icon-lightmode {
    fill: #272C28;
    stroke: #272C28;
    color: #272C28;
}

.nav-darkmode {
    background-color: rgba(253, 214, 186, 0.25);
}

.nav-icon-darkmode {
    fill: #FBAF79;
    stroke: #FBAF79;
    color: #FBAF79;
}

@media (min-width: 576px) {
    .nav-wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;
        height: 70px;
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .nav-container {
        /*background-color: rgba(6, 0, 193, 0.25);*/
        max-width: 1000px;
        /*width: 80%;*/
    }
}


@media (min-width: 1200px) {
}